body
{
  background-image: url('https://cdn.pixabay.com/photo/2015/07/31/20/37/background-869581_960_720.png');
}
.yclovie
{
  text-align: center;
  margin-top: 40px;
}
.rezyltat
{
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
}
input, select
{
  font-size: 40px;
}
p
{
  text-align: center;
  font-size: 20px;
}
