.jir
{
	text-align: center;
	list-style-type:none;
}
.jir a:link 
{ 
color:black; font-weight: 150; text-decoration: none; 
} 
.jir a:hover 
{ 
color:black; font-weight: bold; text-decoration: blink; 
} 
.jir a:active 
{ 
color: black; font-weight: bold; text-decoration: underline;
} 
.jir a:visited 
{ 
color: black; font-weight: 150; text-decoration: line-through; 
}
a:link 
{ 
color:black; font-weight: 150; text-decoration: none; 
} 
a:hover 
{ 
color:black; font-weight: bold; text-decoration: none; 
} 
a:active 
{ 
color: black; font-weight: bold; text-decoration: none;
} 
a:visited 
{ 
color: black; font-weight: 150; text-decoration: line-through; 
}